!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js.init{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' =>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %title= "Oye Modern has closed."
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    != css :application
    != js  :jsforhead
    :coffeescript
      window.onload = ->
        setTimeout (->
          document.documentElement.className = document.documentElement.className.replace(/(\b|^)init\b/, " ")
        ), 500

  %body
    .spacer
    .page
      %header
        Oye Modern

      %section.greeting
        .inner
          %h1 Oye Modern has <strong>closed</strong>.
          %p After five years, we have decided to close up shop. We’ve had fun, learned a lot, but it’s time to the turn the page.
          %p We don’t know what’s next, but when we do, find out by following us on <a href="http://facebook.com/oyemodern">Facebook</a> and <a href="http://twitter.com/oyemodern">Twitter</a>.

    %section.products
      %p A few of our favourite items that you may have missed…
      %ul.imagegrid
        = partial :lazyimage, :locals => { :filename => 'acor-r-surface-g-2.jpg', :title => 'I am a title', :id => 'photo_acor' }
        = partial :lazyimage, :locals => { :filename => 'BKEN-R-Circle-R-8.jpg', :title => 'I am a title' }
        = partial :lazyimage, :locals => { :filename => 'dcsr-r-turntable-11.jpg', :title => 'I am a title' }
        = partial :lazyimage, :locals => { :filename => 'elik-prism-r-ox-2.jpg', :title => 'I am a title' }
        = partial :lazyimage, :locals => { :filename => 'fink-e-prop-r-1.jpg', :title => 'I am a title' }
        = partial :lazyimage, :locals => { :filename => 'frut-r-gem-p-4.jpg', :title => 'I am a title' }
        = partial :lazyimage, :locals => { :filename => 'gpli-mc-deconstructed-numbers-6.jpg', :title => 'I am a title' }
        = partial :lazyimage, :locals => { :filename => 'joye-b-bike-029-f-k-6.jpg', :title => 'I am a title' }


    != js :application
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

