!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' =>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %title= "Oye Modern is closed"
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    / Place favicon.ico and apple-touch-icon.png in the root directory
    != js  :modernizr
    != css :application

  %body
    %header
      !=img '/images/logo.svg', { :width=> 200, :height => 80, :'data-svg-fallback' => asset_path('/images/logo.png')}

    %section.body
      .container
        %h1 Oye Modern has <strong>closed</strong>.
        %p After five years, we have decided to close our store. It has been a wonderful ride, but all great things must come to an end.

    %section.products
      .container
        %p A few of our favourite items that you may have missed.
        %ul
          %li image
          %li image
          %li image
          %li image
          %li image
          %li image

    %section.social
      .container
        %p We don’t know what is next, but to find out, sign up the mailing list, or follow us on <a href="http://facebook.com/oyemodern">Facebook</a> or <a href="http://twitter.com/oyemodern">Twitter</a>.

    %footer
      .container
        %h1 Want to talk to us?
        %p Just to reiterate, the store is closed, so we can’t help with sourcing the items we carried.
        %p If would still like to contact us, perhaps to send us some good vibes? Then you can do so by emailing us at <span class="email" data-email="#{@email}">“service” care of this domain.</a>.


    != js :application
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

